.home-container {
    padding: 117px 180px 0px 120px;
}

.home-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #062847;
    letter-spacing: 0.02em;
    width: 580px;

}

.home-content-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-top: 25px;
    width: 630px
}

span {
    color: #1890FF
}

.home-button {
    background: #1890FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 101px;
    height: 40px; 
    margin-top: 41px;
}